<mat-toolbar color="primary">
    <button mat-icon-button routerLink="/">
        <mat-icon>home</mat-icon>
    </button>
    <span>Shop PD221</span>
    <button mat-icon-button routerLink="/products-list">
        <mat-icon>list</mat-icon>
    </button>
    <button mat-icon-button routerLink="/add-product">
        <mat-icon>add_circle</mat-icon>
    </button>

    <!-- <span>{{service.getAccessToken()}}</span> -->
    <span class="spacer"></span>

    @if(!accountService.isAuthenticated()) {
    <button mat-icon-button routerLink="/login">
        <mat-icon>login</mat-icon>
    </button>
    }
    @else {
    <span>Hello, {{accountService.getCurrentUserEmail()}}</span>
    <button mat-icon-button (click)="onLogout()">
        <mat-icon>logout</mat-icon>
    </button>
    }
</mat-toolbar>