<mat-toolbar color="primary">
    <button mat-icon-button routerLink="/">
        <mat-icon>home</mat-icon>
    </button>
    <span>Shop PD221</span>
    <button mat-icon-button routerLink="/products-list">
        <mat-icon>list</mat-icon>
    </button>
    <button mat-icon-button routerLink="/add-product">
        <mat-icon>add_circle</mat-icon>
    </button>

    <span class="spacer"></span>

    <button mat-icon-button routerLink="/login">
        <mat-icon>login</mat-icon>
    </button>
</mat-toolbar>