<app-product-form (onSubmit)="create($event)">
    <ng-container title>
        Add New Product
    </ng-container>
    <ng-container submitText>
        Add
    </ng-container>
    <ng-container addImageButton>

        <button color="primary" type="button" mat-raised-button (click)="fileInput.click()">
            <mat-icon aria-hidden="false" fontIcon="image"></mat-icon>
            <span>Choose Image</span>
        </button>
        <input hidden (change)="onImagePicked($event)" #fileInput type="file" id="file">

    </ng-container>
</app-product-form>