form {
    display: flex;
    flex-direction: column;
}

form .buttons-block {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.col-2 {
    display: flex;
    gap: 10px;
}

h1 button,
h1 span {
    vertical-align: middle;
}

/* input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
} */